.footer-share-container.flex
  .footer-share.home-section-block
    p
      | Spread the word.&nbsp;
      strong Share Global Forest Watch.
    .share_buttons
      iframe#twitter-widget-i1440060137592672096.twitter-share-button.twitter-share-button-rendered.twitter-tweet-button(scrolling='no', frameborder='0', allowtransparency='true', src='http://platform.twitter.com/widgets/tweet_button.eef1a0a2bd3d97e3ff0ddfd91ceb9c49.es.html#_=1440060137616&count=horizontal&dnt=false&id=twitter-widget-i1440060137592672096&lang=es&original_referer=http%3A%2F%2Flocalhost%3A5000%2F&size=m&text=Global%20Forest%20Watch&type=share&url=http%3A%2F%2Fwww.globalforestwatch.org%2F', style='position: static; visibility: visible; width: 70px; height: 20px;', data-url='http://www.globalforestwatch.org/')
      iframe#I0_1440060137525(frameborder='0', hspace='0', marginheight='0', marginwidth='0', scrolling='no', style='position: static; top: 0px; width: 75px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;', tabindex='0', vspace='0', width='100%', name='I0_1440060137525', src='https://apis.google.com/u/0/se/0/_/+1/fastbutton?usegapi=1&size=medium&origin=http%3A%2F%2Flocalhost%3A5000&url=http%3A%2F%2Fwww.globalforestwatch.org%2F&gsrc=3p&ic=1&jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.es.u5Rk5oaLbfI.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Ft%3Dzcms%2Frs%3DAGLTcCPZbVN6REgn9Dztbe7U_Qgz4YAYnQ#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&id=I0_1440060137525&parent=http%3A%2F%2Flocalhost%3A5000&pfname=&rpctoken=17126745', data-gapiattached='true', title='+1')
      iframe(src='https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.globalforestwatch.org%2F&width=74&layout=button_count&action=like&show_faces=true&share=false&height=21&appId', width='84', height='21', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true')

  .footer-share.keep-updated.home-section-block
    p
      | Sign up to&nbsp;
      strong receive updates.
    .share-icons.flex
      a(href='http://www.wri.org/global-forest-watch-stay-informed', title='Receive Global Forest Watch updates', target='_blank', onclick="ga('send', 'event', 'Footer', 'Click', 'Subscribe');")
        svg.footer-share-svg
          use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#shape-mail')
      a(href='https://twitter.com/globalforests', title='Follow @globalforests', target='_blank', onclick="ga('send', 'event', 'Footer', 'Click', 'Twitter');")
        svg.footer-share-svg
          use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#shape-twitter')
      a(href='http://instagram.com/globalforests', title='Follow @globalforests Instagram', target='_blank', onclick="ga('send', 'event', 'Footer', 'Click', 'Instagram');")
        svg.footer-share-svg
          use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#shape-instagram')
svg.is-hidden(style='display:none')
  symbol#shape-twitter(viewbox='4 4 48 48')
    path(d='M52.837,15.065c-1.811,0.805-3.76,1.348-5.805,1.591c2.088-1.25,3.689-3.23,4.444-5.592c-1.953,1.159-4.115,2-6.418,2.454  c-1.843-1.964-4.47-3.192-7.377-3.192c-5.581,0-10.106,4.525-10.106,10.107c0,0.791,0.089,1.562,0.262,2.303  c-8.4-0.422-15.848-4.445-20.833-10.56c-0.87,1.492-1.368,3.228-1.368,5.082c0,3.506,1.784,6.6,4.496,8.412  c-1.656-0.053-3.215-0.508-4.578-1.265c-0.001,0.042-0.001,0.085-0.001,0.128c0,4.896,3.484,8.98,8.108,9.91  c-0.848,0.23-1.741,0.354-2.663,0.354c-0.652,0-1.285-0.063-1.902-0.182c1.287,4.015,5.019,6.938,9.441,7.019  c-3.459,2.711-7.816,4.327-12.552,4.327c-0.815,0-1.62-0.048-2.411-0.142c4.474,2.869,9.786,4.541,15.493,4.541  c18.591,0,28.756-15.4,28.756-28.756c0-0.438-0.009-0.875-0.028-1.309C49.769,18.873,51.483,17.092,52.837,15.065z')
  symbol#shape-mail(viewbox='0 0 16 16')
    g(fill-rule='evenodd', id='Icons with numbers', stroke='none', stroke-width='1')
      g#Group(transform='translate(-384.000000, 0.000000)')
        path(d='M393.731959,11.4845362 L398.681755,15.7272182 C398.501681,15.8954635 398.259495,16 397.993155,16 L386.006845,16 C385.739189,16 385.496237,15.8970552 385.316068,15.7290845 L390.268041,11.4845362 L392,13.0000001 Z M392,12 L385,6 L392,0 L399,6 Z M399,15.1856084 L394.167358,11.0788577 L399,6.875422 L399,15.1856084 L399,15.1856084 Z M385,15.1856079 L385,6.87815189 L389.832642,11.0788574 L385,15.1856079 L385,15.1856079 Z M385,15.1856079')
  symbol#shape-instagram(viewbox='0 0 512 512')
    path(d='M480,0H32C14.312,0,0,14.312,0,32v448c0,17.688,14.312,32,32,32h448c17.688,0,32-14.312,32-32V32  C512,14.312,497.688,0,480,0z M192,256c0,0,5.062-64,64-64c58.938,0,64,64,64,64s1.844,64-64,64C190.156,320,192,256,192,256z   M448,448H64V224h64h4.53c-2.655,10.281-4.53,20.875-4.53,32c0,70.688,57.312,128,128,128c70.688,0,128-57.312,128-128  c0-11.125-1.875-21.719-4.531-32H384h64V448z M448,160h-96V64h96V160z')
