script(src='//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js')
//- script(src='//gfw-assets.s3.amazonaws.com/static/gfw-assets.latest.js', defer) //prod
//- script(src='//gfw-assets.s3.amazonaws.com/static/gfw-assets.nightly.js', defer) //staging-heroku
script(src='#{headerScript}', id='loader-gfw', data-current='.shape-water')
