svg.hidden
  //- Close Icon
  symbol#shape-close(viewbox='0 0 25 25')
    path(d='M 5 19 L 19 5 L 21 7 L 7 21 L 5 19 ZM 7 5 L 21 19 L 19 21 L 5 7 L 7 5 Z')
  //- Info Icon
  symbol#shape-info(viewbox='0 0 16 32')
    path(d='M2 16c1.105 0 2 0.895 2 2v8c0 1.105-0.895 2-2 2h-2v4h16v-4h-1.992c-1.102 0-2.008-0.895-2.008-2l-0.004-14h-11.996v4h2zM4 4c0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.209-1.791 4-4 4s-4-1.791-4-4z')
  //- Basemap Icon
  symbol#icon-basemap(viewbox='0 0 1132 1024')
    title Basemap
    path.path1(d='M124.918 220.754l343.773-174.238 489.199 254.645-330.542 167.526-502.43-247.931z')
    path.path2(d='M124.918 450.655l502.43 247.931 330.542-167.526-146.75-76.438-183.793 93.196-351.661-173.503-150.769 76.388z')
    path.path3(d='M124.918 680.554l502.43 247.931 330.542-167.526-146.75-76.438-183.793 93.196-351.661-173.503-150.769 76.388z')
  //- Share Icon  
  symbol#icon-share(viewbox='0 0 1024 1024')
    title Share
    path.path1(d='M183.488 507.392c0 65.024 52.672 117.696 117.696 117.696 31.744 0 60.608-12.544 81.792-32.96l193.792 96.896c-0.576 4.736-0.96 9.6-0.96 14.528 0 65.024 52.672 117.696 117.696 117.696s117.696-52.672 117.696-117.696c0-65.024-52.672-117.696-117.696-117.696-31.744 0-60.48 12.544-81.6 32.96l-193.984-96.896c0.576-4.8 0.96-9.6 0.96-14.528s-0.384-9.728-0.96-14.528l193.792-96.896c21.184 20.416 50.048 32.96 81.792 32.96 65.024 0 117.696-52.672 117.696-117.696s-52.672-117.696-117.696-117.696c-65.024 0-117.696 52.672-117.696 117.696 0 4.928 0.384 9.792 0.96 14.528l-193.792 96.896c-21.184-20.416-50.048-32.96-81.792-32.96-65.024 0-117.696 52.672-117.696 117.696z')
  //- Reset Icon 
  symbol#icon-reset(viewbox='0 0 1024 1024')
    title Reset
    path.path1(d='M267.399 573.182c0-118.12 91.259-214.88 207.122-223.703v-103.719c-173.097 8.978-310.682 152.080-310.682 327.422 0 181.117 146.821 327.938 327.938 327.938 175.325 0 318.448-137.581 327.422-310.682h-103.731c-8.815 115.864-105.574 207.122-223.691 207.122-123.924 0-224.379-100.463-224.379-224.379z')
    path.path2(d='M450.56 122.88l2.327 368.64 243.433-198.259-245.76-170.381z')
  //- Zoom In Icon
  symbol#icon-plus(viewbox='0 0 1024 1024')
    title Zoom In
    path.path1(d='M573.44 245.76h-122.88v204.8h-204.8v122.88h204.8v204.8h122.88v-204.8h204.8v-122.88h-204.8v-204.8z')
  //- Zoom Out Icon
  symbol#icon-minus(viewbox='0 0 1024 1024')
    title Zoom Out
    path.path1(d='M778.24 573.44h-532.48v-122.88h532.48v122.88z')
  //- Locate Icon
  symbol#icon-locate(viewbox='0 0 1024 1024')
    title Locate
    path.path1(d='M365.742 505.262c0-77.057 62.463-139.52 139.52-139.52s139.52 62.463 139.52 139.52c0 77.057-62.463 139.52-139.52 139.52s-139.52-62.463-139.52-139.52z')
    path.path2(d='M505.315 323.232c96.637-0.102 185.975 60.807 185.975 182.033s-89.339 182.135-185.975 182.033c-96.733-0.106-186.077-61.314-186.077-182.033s89.343-181.923 186.077-182.033zM505.213 230.219c-135.799 0.148-278.987 91.544-278.987 275.044s143.189 274.894 278.987 275.044c135.896 0.143 279.090-91.055 279.090-275.044s-143.193-275.189-279.090-275.044z')
    path.path3(d='M458.756 133.212h93.014v139.52h-93.014v-139.52z')
    path.path4(d='M458.756 737.796h93.014v139.52h-93.014v-139.52z')
    path.path5(d='M737.796 458.756h139.52v93.014h-139.52v-93.014z')
    path.path6(d='M133.212 458.756h139.52v93.014h-139.52v-93.014z')
  //- Analysis Icon
  symbol#icon-analysis(viewbox='0 0 1138 1024')
    title Analysis
    path.path1(d='M113.389 936.516h911.044v-91.104h-819.939v-728.836h-91.104v819.939z')
    path.path2(d='M332.665 780.782l196.618-275.191 138.986 139.252 227.711-364.509 50.694 50.66 64.42-64.42-131.605-131.605-227.67 364.473-134.271-134.233-259.014 362.623 74.133 52.951z')
  //- Remove Icon
  symbol#icon-remove(viewbox='0 0 1024 1024')
    title Remove
    path.path1(d='M625.778 225.559v-56.946h-227.556v56.946h-170.667v113.892h568.889v-113.892h-170.667z')
    path.path2(d='M284.444 396.396v512.512h455.111v-512.512h-455.111z')
  //- Alerts Icon
  symbol#icon-alerts(viewbox='0 0 1138 1024')
    title Alerts
    path.path1(d='M455.111 738.071h113.778v56.946h-113.778v-56.946zM424.192 201.216l-336.384 561.203c-48.498 80.902-11.401 146.489 82.859 146.489h682.667c94.259 0 131.356-65.587 82.859-146.489l-336.384-561.203c-48.498-80.907-127.118-80.907-175.616 0zM455.111 396.396h113.778v284.729h-113.778v-284.729z')

      
