<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
  mustMatch="true">
  <serverUrls>
    <serverUrl url="http://hydro.arcgis.com/arcgis/rest/services/Tools/Hydrology/GPServer"
      matchAll="true"
      username="WATERSHED_USERNAME"
      password="WATERSHED_PASSWORD"
    />
    <serverUrl url="http://gis-gfw.wri.org/arcgis/rest/services/GFW/GFWwater_user_features/FeatureServer"
      matchAll="true"
      username="USER_FEATURES_USERNAME"
      password="USER_FEATURES_PASSWORD"
    />
    <serverUrl url="http://gis-gfw.wri.org/arcgis/rest/services/user_features/FeatureServer"
      matchAll="true"
      username="USER_FEATURES_USERNAME"
      password="USER_FEATURES_PASSWORD"
    />
  </serverUrls>
</ProxyConfig>
