@require '../../node_modules/rupture/rupture/index'
// @require '../../css/_variables'

$helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
$georgia = "Georgia", serif
$fira-sans = 'Fira Sans', sans-serif
$fonts = 'helvetica' $helvetica,
         'georgia' $georgia

// colors
// NOTE: colors in $colors will generate text-* and back-* utility classes
$charcoal = #222
$pebble = #333
$smoke = #666
$white = #FFF
$gfw-blue = #E7002F
$gfw-blue = #4099ce
$dark-gray = #555
$concrete = #F2F2F2
$red-alert = #C12000
$map-background = #021331
$colors = 'charcoal' $charcoal,
          'smoke' $smoke,
          'pebble' $pebble,
          'gfw-red' $gfw-blue,
          'white' $white

// media queries
$mq-mobile = 850px
$mq-mobile-small = 550px

// z-indices
$z-navigation = 400
$z-logo = 500
$z-body = 700
$z-modal-underlay = 750
$z-modal = 800
$z-mobile-navigation = 900

// misc
$gutter = 2em
$border-radius = 5px
$transition = all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1)
$box-shadow = 2px 2px 2px rgba(0, 0, 0, .25)

body
  background-color white

section
  width auto
  max-width 1200px
  float none
  display block
  margin-right auto
  margin-left auto
  padding-left 1em
  padding-right 1em

section:after, section:before {
    content: '';
    display: table;
}

.gfw-water-logo
  background url('../css/images/GFW_Water_logo.png') no-repeat center
  background-size 90px
  position absolute
  height 90px
  width 90px
  z-index 5
  left 20px
  top 35px
  cursor pointer
  &:after
    background url('../css/images/beta.png')
    position absolute
    display block
    bottom -5px
    height 18px
    width 30px
    right -5px
    content ''

.page-aqueduct-link
  background url("../css/images/aqueduct-logo.png") no-repeat center
  background-size cover
  top 38px

.back-pebble
  background-color #333

.page-title
  font-size 3em
  font-weight 300
  margin 0
  padding 1.5em 0 .2em
  line-height 1em

  +below($mq-mobile)
    padding: .8em 0 .2em;

.page-description
  font-size 1.2em
  font-weight 300
  margin 0
  padding 0 0 .7em
  line-height 1.25em

.content-header
  margin 2em 0em
  color $white

.content-container
  display flex
  flex-direction row

  a
    color $gfw-blue

  a[href$=".pdf"].pdf-doc:before
    content "\00a0"
    background-image url(../images/pdf-icon.svg)
    background-size contain
    background-repeat no-repeat
    width 28px
    display inline-block

  +below($mq-mobile)
    flex-direction column

#two th:nth-child(3),
#two td:nth-child(3)
  width 35%

#two th:nth-child(2),
#two td:nth-child(2),
#two th:nth-child(1),
#two td:nth-child(1)
  text-align center

.content-aside
  padding 1em 0 1em 0

  ul
    list-style none

  li
    text-align center
    color $dark-gray
    background #f7f7f7
    position relative
    font-weight 500
    font-size .9em
    padding 1.3em .7em
    line-height 1.2em
    border-top 1px solid darken($concrete, 5%)
    border-left 1px solid darken($concrete, 5%)

    &:last-child
      border-bottom 1px solid darken($concrete, 5%)

    &.active
      background #fff
      box-shadow 2px 0 0 0px $white

    &.active:after
      content ''
      position absolute
      display block
      bottom 0%
      left 0px
      width 100%
      height 4px
      background $gfw-blue

    +below($mq-mobile)
      border-right 1px solid darken($concrete, 5%)
      box-shadow none

.content-menu
  width 270px

  +below($mq-mobile)
    width 100%

.content-body
  flex-grow: 1;
  padding 2em 2em 1em 2em
  border-left 1px solid darken($concrete, 5%)
  color $dark-gray

  +below($mq-mobile)
    border-left none

  h3
    font-size 2.2em
    font-weight 300
    margin 0
    padding 0 0 .5em
    line-height 1.25em

  h4
    font-size 1.3em
    font-weight 500
    margin  0
    line-height 1.25em
    text-align center

  h5
    font-size 1em
    text-align center
    font-weight 500
    margin .5em 0

  p
    font-size .9em
    line-height 1.6em
    padding .7em 0
    margin 0

.content-subpage
  display none

  &.active
    display block

.gfw-partnership
  .logo-list
    padding-bottom 2em

  .text-list
    li
      text-align center
      font-size .9em
      line-height 1.6em

.indonesian-forest-fires-pdf
  padding .7em 0 1em
  display block

h3.partnership-header-title
  text-align center

.center
  text-align center

.text-list
  padding 1em 0 1.5em

.about-modal-list
  color #aaa
  a
    text-decoration none

.modal-arrows
  display block

  .icon-arrow
    position absolute
    top 50%
    -webkit-transform translate(0, -50%)
    transform translate(0, -50%)
    padding 10px
    width 60px
    height 60px
    display block
    cursor pointer
    &.is-left
      right calc(50% + 275px)
    &.is-right
      left calc(50% + 275px)

    svg
      stroke white
      width 100%
      height 100%


.publications-blogs
  margin-top 10px
  h5
    text-align left
  // display -webkit-box
  // display -webkit-flex
  // display -ms-flexbox
  // display flex
  // -webkit-box-orient horizontal
  // -webkit-box-direction normal
  // -webkit-flex-direction row
  // -ms-flex-direction row
  // flex-direction row
  h3
    padding 0
    &.blogs
      margin-top 20px

  .image
    width 127px
    min-width 127px
    max-width 127px
    max-height 154px
    box-shadow 0 2px 6px 0 rgba(0,0,0,0.2)
    margin-top 5px
    overflow hidden
    display inline-block

    #publications-image
      background url('../css/images/publications_1.png')
      width 100%
      height 154px

    #blogs-image
      background url('../css/images/blogs_1.png')
      width 100%
      height 154px

  .detail
    -webkit-box-orient vertical
    -webkit-box-direction normal
    -webkit-flex-direction column
    -ms-flex-direction column
    flex-direction column
    margin-left 30px
    display inline-block
    width calc(100% - 235px)
    vertical-align top

    .blog-button
      color white
      width 175px
      height 44px
      a
        color white
        text-decoration none
        vertical-align -webkit-baseline-middle

.icon
  display block
  height 25px
  width 25px

.modal-icon
  width 100%
  position relative
  padding 15px 20px 0px

  .top-icon
    width 100%
    height 70px
    margin 0 auto 20px

    svg
      fill #555555
      width 100%
      height 100%

#gridView
  display -webkit-box
  display -ms-flexbox
  display flex
  -webkit-box-pack start
  -ms-flex-pack start
  justify-content flex-start
  -webkit-box-align stretch
  -ms-flex-align stretch
  align-items stretch
  -ms-flex-wrap wrap
  flex-wrap wrap

  .col
    // width 100%
    padding 0 20px
    margin 0px 0 25px
    min-height 1px

    .little-card
      width 100%
      min-height 120px
      position relative
      padding 20px
      padding-left 100px
      box-shadow 0 0 0 1px #e5e5df
      cursor pointer
      display -webkit-box
      display -ms-flexbox
      display flex
      -webkit-box-align center
      -ms-flex-align center
      align-items center

      &:hover
        box-shadow 0 0 0 2px #4099ce

      .icon
        position absolute
        top 50%
        left 0
        width 100px
        height 45px
        -webkit-transform translate(0, -50%)
        transform translate(0, -50%)

        svg
          fill #555555
          width 100%
          height 100%
          -webkit-transition all 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95)
          transition all 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95)

      header
        width 100%
        display block

        h2
          text-transform none
          padding 0
          text-align left
          font-size 21px
          font-weight 400
          color #555555
          margin 0

        small
          color #AAA
          font-size 10px

@media (min-width: 850px)
  .row .col
    width 33.3333%
    display -webkit-box
    display -ms-flexbox
    display flex

@media (max-width: 850px)
  .gfw-water-logo, .page-aqueduct-link
    top 0px

  .content-header
    margin 4em 0em

@media (min-width: 600px)
  .row .col
    width 50%
