.search-tools
  background white
  display flex
  height 40px
  width 320px
  right 20px
  z-index 6
  top 20px
  & .arcgisSearch
    margin auto auto 0
    & .searchBtn
    & .searchInput
      outline none
    & .searchGroup .searchInput
      font-size 12px
      width 200px
    & .searchBtn
      padding 6px

.analysis-tools
  max-height calc(100% - 215px)
  flex-direction column
  overflow hidden
  display flex
  width 320px
  right 20px
  top 60px
  & .no-shrink
    flex-shrink 0
  & .content-container
    overflow-y auto
  & > div
    background white
    width 100%

.analysis-tools .tabs .gfw-btn
.analysis-tools .button-wrapper .gfw-btn
  font-size 14px
  width 50%

.analysis-tools .button-wrapper .gfw-btn:first-child
  border-right none

.analysis-tools .tabs .gfw-btn
  color $lightGray
  &.active
    background $lightGrayHighlight
    color black

.analyze-button
  display flex
  height 55px
  & .gfw-btn
    border-radius 40px
    align-items center
    display flex
    margin auto
    & svg
      margin-right 10px
      height 20px
      width 20px
      fill white

.analysis-placeholder
  background white
  font-size 14px
  padding 10px
  margin 0

.loss-footnote
  justify-content center
  align-items center
  font-size 11px
  & .loss-footnote-label
    padding-right 3px

.loss-link
  & select
    -webkit-appearance none
    position absolute
    height 100%
    width 100%
    opacity 0
    left 0
    top 0
  & .loss-timeline-spacer
    padding 0 3px

.canopy-link
  & .canopy-text
    padding 0 3px
  & .canopy-density-label:before
    content ' > '
  & .canopy-density-label:after
    content '% '

.custom-analysis-link
  justify-content center
  font-size 12px
  margin 15px 0
  & .custom-analysis-link-label
    padding-right 3px

.full-report-button
  border-radius 5px
  margin 10px auto
  width 180px

.watershed-summary
  text-align center
  margin 10px 0
  & .watershed-summary-label
    padding-right 34px
    font-size 13px
    margin 0 auto

.feature-title
  padding 0 10px
  margin 10px 0

.watershed-chart
  height 300px
  width 100%


/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
  .analysis-tools
    box-shadow none
    bottom 155px
    & > div
      box-shadow 0px 4px 0px #fff, 0px 0px 0px #fff, 2px 2px 2px rgba(0,0,0,0.1), 2px 2px 2px rgba(0,0,0,0.15)
    & div:last-of-type
      box-shadow 2px 2px 2px rgba(0,0,0,0.25)
