// Footer share section
.footer-share-container
  width 1024px
  margin auto
  height 200px

.footer-share
  display flex
  flex-direction column
  align-content center
  justify-content center
  text-align center

.share-icons
  height 50px
  width 100%
  display flex
  justify-content center

.footer-share-svg
  height 22px
  width 22px
  margin 0 1em

@media (min-width: 1400px)
  .footer-share-container
    max-width 1200px
    width 75%

@media (max-width: 1024px)
  .footer-share-container
    width 100%

@media (max-width: 850px)
  .footer-share-container
    flex-direction column