@require 'config'
// Important Layout Classes
body
  overflow hidden

.layout-content
  position absolute
  height auto
  width 100%
  bottom 0
  left 0
  top 0

#footerGfw
  display none !important

.map
  height 100%
  width 100%

.map-component
  position absolute
  z-index 5

.risk-score-table
  font-size 14px
  margin-top 10px
  border-collapse collapse
  td, th
    padding-left 5px
    text-align left
  th:nth-child(1)
    width 70px
  th:nth-child(3)
    width 300px
  td:nth-child(1)
    text-align center
    border-right 1px solid black
  td:nth-child(2)
    border-right 1px solid black
  tr
    border 1px solid black
    border-top none
  tr:nth-child(1)
    border none
    border-bottom 1px solid black
    padding-left 5px

.gfw-water-logo
  background url('images/GFW_Water_logo.png') no-repeat center
  background-size 90px
  position absolute
  height 90px
  width 90px
  z-index 5
  left 20px
  top 0
  &:after
    background url('images/beta.png')
    position absolute
    display block
    bottom -5px
    height 18px
    width 30px
    right -5px
    content ''

.aqueduct-logo
  background url('images/aqueduct-logo.png') no-repeat center
  background-size auto 69px
  position absolute
  height 50px
  width 268px
  left 125px
  z-index 5
  top 0px

.esriPopup .sizer
  width 250px !important

.esriPopup .pointer.top, .esriPopup .pointer, .esriPopup .outerPointer, .esriPopup .pointer.bottom, .esriPopup .pointer.left, .esriPopup .pointer.right, .esriPopup .contentPane
  background black !important
  .field-value
    color white
    font-size 14px
    font-weight bold
    &.grants
      font-size 12px
      font-weight normal
  .popup-link a
    color #97bd3d
    text-decoration none
    font-size 12px
  .cases-title
    color white
    font-weight bold
    font-size 16px
    width calc(100% - 25px)
    margin-top 5px
  .popup-image
    width 100%

.esriPopup .contentPane
  padding-top 0px !important

.esriPopup .titlePane, .esriPopup .actionsPane
  display none

.infoWindow-close.close-icon
  z-index 500
  padding-right 3px
  padding-top 3px
  height 30px
  width 30px
  cursor pointer
  fill white

.esriScalebar
  bottom 20px
  left 20px

// Require any Map Content
@require 'modal'
@require 'alertsModal'
@require 'layerPanel'
@require 'controlPanel'
@require 'analysisPanel'
@require 'spinner'

// Media Queries for All Map Content
@media (min-width: 850px)
  .layout-content
    top 34px

@media (max-width: 850px)
  .layout-content
    bottom 51px
  .esriScalebar
    bottom 70px
    left 20px
  .aqueduct-logo
    background-size auto 49px
