div#headerGfw
div.m-header
section.relative.report-controls
  display none !important

div#land-cover-chart
  g.highcharts-legend
    transform translate(0,0)
    g
      g
        g.highcharts-legend-item
          text
            fill #555 !important

section.risks 
section.historical-loss
section.erosion
section.fire
section.water-stress
section.plan
  page-break-before always