doctype html
html
  head
    title #{home.title}
    include templates/meta.jade
    style
      :stylus
        @require 'css/base'
    link(rel='stylesheet', href='css/home.css?#{version}')
    link(rel='stylesheet', href='//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Fira+Sans:400,500,300')
    script(src='vendor/jquery/dist/jquery.min.js')
  body
    include templates/gfwAssets.jade
    div#headerGfw
    section.relative.home-slider-container
      nav.mobile-hide.home-nav
        h2.shadow Explore the Map!
          div.inline-block
            a(href='./map.html', title='EXPLORE THE MAP', alt='Explore the Map')
              div.gfw-btn.blue.pointer click here!
      ul.home-slider
        li.slide1.slide.pointer
          div.inner.relative
            aside
              h2 explore
              h3 explore data on forest change
              div.slide-link
                span.mobile-hide more info
                span.mobile-show +
        li.slide2.slide.pointer
          div.inner.relative
            aside
              h2 explore
              h3 explore data on forest change
              div.slide-link
                span.mobile-hide more info
                span.mobile-show +
        li.slide3.slide.pointer
          div.inner.relative
            aside
              h2 explore
              h3 explore data on forest change
              div.slide-link
                span.mobile-hide more info
                span.mobile-show +
    div#footerGfw
    script(data-main='js/home/main.js?#{version}', src='vendor/requirejs/require.js', async)
    script.
      var base = location.pathname.replace(/\/[^/]+$/, '');
      window.require = {
        baseUrl: base,
        packages: [
          {name: 'js', location: base + '/js/home'},
          {name: 'vendor', location: base + '/vendor'},
        ],
        map: {
          '*': {
            //- '$': base + 'vendor/jquery/dist/jquery.min.js',
            //- 'slick': '//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js',
            //- 'gfw-assets': 'http://www.globalforestwatch.org/gfw-assets',
            'babel-polyfill': base + 'vendor/browser-polyfill.js'
          }
        }
      };
